#!/usr/bin/env bash

if type nix-shell >/dev/null 2>&1; then
    if ! has devenv; then
        nix profile add nixpkgs#devenv
    fi

    eval "$(devenv direnvrc)"
    use devenv
else
    echo "nix-shell is not available. Install Nix: https://nixos.org/download"
fi
